html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {  
   background: #fff;
   font-size: 1rem;
   }
   
 .form-group label {
    font-size: small;
 }
 .form-group .form-control {
    background: #eee;
    font-family: monospace;
    font-size: small;
 }
 .card .card-header {
    background: #6078B0;
    color: white;
 }
 .card .btn-install {
    background: #6078B0;
    color: white;
    font-size: large;
 }

.text-error {
   font-size: small;
   font-family: 'Times New Roman', serif;
   color: #6078B0;
   
}
.alert-info {
	background: #FAFAFA;
	border: 1px solid #6078B0;
	color: #6078B0;
}
.alert-danger {
	border: none;
}
.form-group .form-control:focus {
	box-shadow: none;
	border: 1px solid #6078B0;
	background: #fff;
	font-family: 'Times New Roman', serif;
}